<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snap! | Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>

{{!-- Navbar Start --}}
<nav class="navbar fixed-top navbar-expand-lg bg-light shadow-lg" id="navbar">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="/img/snap-logo.png" alt="Snap! Logo" height="70px" width="auto">
                <em><strong>Snap!</strong></em> Web Hosting
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/articles/read_more">Articles</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="/user/register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/login">Login</a>
                </li>
            </ul>
            </div>
        </div>
    </nav>
{{!-- Navbar End --}}

{{!-- Header Start --}}
<div class="background parallax" id="gradient-background">
    <h1>Web Hosting. <em>Effortlessly</em>.</h1>
    <a href="#plans" class="btn-hover gradient mt-5 shadow-lg text-decoration-none">See Our Plans</a>
</div>
{{!-- Header End --}}

{{!-- Main Container --}}
<div class="container pt-4">

<!-- About Us Section -->
<div class="section about-us">
    <div class="container">
        <div class="row mt-4 py-5">
            <div class="col-sm-12 col-md-6 col-lg-3 py-4 d-flex justify-content-center align-items-center flex-column" align="center">
                <i class="fa-solid fa-server fa-4x"></i>
                <h3 class="my-2">Web Hosting</h3>
                <span class="mt-2 mb-5">
                    Get fast and unlimited web hosting for your site 
                </span>
                <a href="#" class="btn btn-primary w-100 mb-2">Get Hosting</a>
                <small class="bg-warning">Save up to 61%!</small>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 py-4 d-flex justify-content-center align-items-center flex-column" align="center">
                <i class="fa-solid fa-cloud-upload fa-4x"></i>
                <h3 class="my-2">Cloud Servers</h3>
                <span class="mt-2 mb-5">
                    Take full control with our fastest virtual servers
                </span>
                <a href="#" class="btn btn-primary w-100 mb-2">Compare Clouds</a>
                <small class="bg-warning">Save up to 8%!</small>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 py-4 d-flex justify-content-center align-items-center flex-column" align="center">
                <i class="fa-solid fa-hdd fa-4x"></i>
                <h3 class="my-2">Dedicated Servers</h3>
                <span class="mt-2 mb-5">
                    Boost your business with dedicated hardware
                </span>
                <a href="#" class="btn btn-primary w-100 mb-2">View Servers</a>
                <small class="bg-warning">Save up to 5%!</small>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 py-4 d-flex justify-content-center align-items-center flex-column" align="center">
                <i class="fa-brands fa-wordpress fa-4x"></i>
                <h3 class="my-2">WordPress</h3>
                <span class="mt-2 mb-5">
                    Manage your WordPress websites with ease
                </span>
                <a href="#" class="btn btn-primary w-100 mb-2">Get WordPress</a>
                <small class="bg-warning">Save up to 30%!</small>
            </div>
        </div>
    </div>
</div>
{{!-- About Us Section End --}}

{{!-- Main Container End --}}
</div>

{{!-- Plans Start --}}
<section id="plans">
    <h2 class="text-muted text-center my-5">Plans And Pricing</h2>
    <div class="container-fluid text-center mb-5">
        <div class="row">
            <div class="col">
                <h2>Go</h2>
                <p>
                    Affordable plan, great for starting a new web project.
                </p>
                <small>For only</small>
                <div class="price">
                    <strong>$3.89</strong>/mo
                </div>
                <small>
                    <del>$9.99</del>
                    <strong class="bg-warning">Save 99%</strong>
                </small>
                <div class="cta">
                    <a href="#" class="btn btn-lg btn-primary">
                        Add To Cart
                    </a>
                </div>
            </div>
            <div class="col">
                <h2>Go</h2>
                <p>
                    Affordable plan, great for starting a new web project.
                </p>
                <small>For only</small>
                <div class="price">
                    <strong>$3.89</strong>/mo
                </div>
                <small>
                    <del>$9.99</del>
                    <strong class="bg-warning">Save 99%</strong>
                </small>
                <div class="cta">
                    <a href="#" class="btn btn-lg btn-primary">
                        Add To Cart
                    </a>
                </div>
            </div>
            <div class="col">
                <h2>Go</h2>
                <p>
                    Affordable plan, great for starting a new web project.
                </p>
                <small>For only</small>
                <div class="price">
                    <strong>$3.89</strong>/mo
                </div>
                <small>
                    <del>$9.99</del>
                    <strong class="bg-warning">Save 99%</strong>
                </small>
                <div class="cta">
                    <a href="#" class="btn btn-lg btn-primary">
                        Add To Cart
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{{!-- Plans End --}}

{{!-- Footer Start --}}
<ul class="nav d-flex justify-content-center align-items-center flex-column shadow-lg">
    <div class="nav-links d-flex my-5">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/blog">Blog</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/articles/read_more">Articles</a>
        </li>
            <li class="nav-item">
            <a class="nav-link" href="/user/register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/user/login">Login</a>
        </li>
    </div>
    <div class="footer">
        <div class="div mx-auto mb-5" style="width:50px;height:1px;background-color:rgba(0, 0, 0, 0.25);"></div>
        <p>🔥 Created <strong>by</strong> Victor Krenzel. &copy; <em class="text-danger">2022</em> 🔥</p>
        <div class="col-auto p-4 text-center">
            <i class="fa-brands fa-github fa-lg px-2"></i>
            <i class="fa-brands fa-codepen fa-lg px-2"></i>
            <i class="fa-brands fa-linkedin fa-lg px-2"></i>
        </div>
    </div>
</ul>
{{!-- Footer End --}}

{{!-- Stellar JS --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/stellar.js/0.6.1/jquery.stellar.min.js" integrity="sha512-MZiEKWRoqHmTsaur2/0bTQaOT5DqmnMDWuXoYXgNwFzCq+J2rQRIa4uVOmkL7SnIIhis6V4IcPnhqKxgOt8zDg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{{!-- JQuery --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    // Navbar Scrolling
    var prevScrollpos = window.pageYOffset
    window.onscroll = () => {
    var currentScrollPos = window.pageYOffset
    if (prevScrollpos > currentScrollPos) {
        document.getElementById("navbar").style.top = "0"
    } else {
        document.getElementById("navbar").style.top = "-80px"
    }
    prevScrollpos = currentScrollPos
    }
</script>
    
</body>
</html>